<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="https://github.com/matheusmpessoa/api-starlord">
        <img src="./assets/images/github-logo.png" alt="Logo Github" class="logo">
      </a>

      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader"
        aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarHeader">
        <div class="navbar-nav mr-auto"></div>
        <form class="form-inline my-2 my-md-0">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/" routerLink="/">Reload</a>
            </li>
          </ul>
        </form>
      </div>
    </nav>
  </div>
</header>
