@import 'src/styles/main.scss';

footer {
  position: relative;
  height: 60px;
  padding: 15px;
  bottom: 0;
  background-color: $grey;
  color: $grey;
  margin-bottom: 0px;
  border-top: 1px solid #ccc;

  a {
    color: $green;
  }
}
