@import 'src/styles/main.scss';

footer {
  position: fixed;
  height: 50px;
  padding: 15px;
  background-color: $white;
  color: $grey;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;

  a {
    color: $green;
  }
}